@font-face {
  font-family: 'DingTalkSans';
  src: url('./font/DingTalkSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url('./font/Manrope-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINMedium';
  src: url('./font/DINMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
